# carleton - Environment Variables
# Copy this file to .env and fill in your API keys

# Daily (Transport)
DAILY_API_KEY=
DAILY_ROOM_URL=  # Optional: leave empty to create a new room



# Cartesia (STT/TTS)
CARTESIA_API_KEY=
CARTESIA_VOICE_ID= # Optional: defaults to "71a7ad14-091c-4e8e-a314-022ece01c121" (British Reading Lady)

# Deepgram (STT/TTS)
DEEPGRAM_API_KEY=


# Anthropic Claude (LLM)
ANTHROPIC_API_KEY=
ANTHROPIC_MODEL= # "claude-sonnet-4-5-20250929"

GRADIUM_API_KEY=gsk_dbeba66321d383dda15d27dcb1c4032b3f490a00085bfc89bc9eca1f1ea4887f

CEKURA_API_KEY=1b0bece1d88f6aa99680a8cabc058a1d6d82628218cc5ad3acb898734ee7426e
CEKURA_PIPECAT_AGENT_ID=18098  # numeric id of the agent you create in Cekura

STT_PROVIDER=deepgram
TTS_PROVIDER=cartesia